<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Memes</title>
</head>
<body>

    <nav>
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'memes' %}">Memes</a>
    </nav>

    <!-- block content means content tags will get added in -->

    {% block content %}
    {% endblock %}

    <!-- endblock just means we are at the end of the area where we'll add content tags in -->

    <footer>
        Copyright Cat Memes 2026
    </footer>

</body>
</html>

<!-- keep your code DRY -->
<!-- DONT REPEAT YOURSELF -->