{% extends 'cat_memes_application/base.html' %}
{% block content %}

    <h1>MEMES!</h1>

    <!-- add images here for each cat meme url -->
    <p>There are {{ num_memes }} number of cat memes</p>

    {% for meme_url in urls %}
        <img height="400" src="{{ meme_url }}" >
    {% endfor %}

    <p>{{ something_else.upper }}</p>

{% endblock %}

<!-- there are two forms of django curly bracket tags -->

<!-- if you see the {%%} it means these are logical tags -- this will do something mechanically such as a for loop or interpolating an entire block or an if/else statement -->

<!-- logical tags are code that you don't want to see in the final result -->

<!-- the variable tags {{}} are for interpolating / formatting variables directly into the html -->