{% extends 'todo_app/base.html' %}
{% block content %}

    {% for tea in all_teas %}

        <h2>{{ tea.name }}</h2>
        <img height="300" src="{{ tea.image_url }}" alt="{{ tea.name }}">
        <p>{{ tea.description }}</p>
        
        {% if tea.caffeinated %}
            <p>Caffeinated</p>
        {% else %}
            <p>Not Caffeinated</p>
        {% endif %}

        <a href="{% url 'tea_edit' pk=tea.id %}">Edit</a>
        <a href="{% url 'tea_delete' pk=tea.id %}">Delete</a>

    {% endfor %}

{% endblock %}