{% extends 'superhero_app/base.html' %}
{% block content %}

<h1>All Registered Superheroes</h1>

<ul>

    {% for hero in superheroes %}

    <li>
        <h2>{{ hero.alias }}</h2>
        <h3>{{ hero.real_name }}</h3>
        <a href="{% url 'superhero_edit' hero.id %}">Edit</a>
        <a href="{% url 'superhero_delete' hero.id %}">Delete</a>
        <p>{{ hero.powers }}</p>
        <p>{{ hero.origin_story }}</p>
        {% if hero.user %}
        <p>Registered by {{ hero.user.username }}</p>
        {% else %}
        <p>Registered by [DELETED]</p>
        {% endif %}
        {% if hero.portrait %}
        <img src="{{ hero.portrait.url }}" alt="{{ hero.alias }}">
        {% endif %}
    </li>

    {% endfor %}

</ul>

{% endblock %}