<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockbuster</title>
    <!-- in order to load static files you need the special tag below -->
    {% load static %}
    <!-- and now we can actually load the css file -->
    <link rel="stylesheet" href="{% static 'movie_app/main.css' %}">
</head>
<body>

    <nav>
        <!-- the url needs the `name` for each path -->
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'upcoming_movies' %}">Upcoming Movies</a>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>