{% extends 'todo_app/base.html' %}
{% block content %}

    <!-- search forms -->

    <!-- search completed/uncompleted -->
    <form>
        <select name="completed" id="completed">
            <option value="true">Completed</option>
            <option value="false">Incomplete</option>
        </select>
        <input type="submit" value="Filter">
    </form>

    <!-- search by task name -->
    <form>
        <label for="name">Search by task name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Search">
    </form>

    <h1>Welcome to the Todo List!</h1>

    {% for item in all_todos %}
    
    <div>
        <h2>{{ item.task_name }}</h2>
        <p>{{ item.description }}</p>
        {% if item.completed %}
            <p>Complete!</p>
        {% else %}
            <p>Incomplete...</p>
        {% endif %}
    </div>

    {% endfor %}

    <table>
        <tr>
            <th>ID</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>

        {% for item in all_todos %}
        
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.task_name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.completed }}</td>
        </tr>

        {% endfor %}
    </table>
    
{% endblock %}